@charset "utf-8";
/*------------etc-------------*/
button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
   border: none;
}
.margbot20{
	margin-bottom:20px !important;
}
.padd20{
	padding:20px;
}
.bradius10{
	-o-border-radius:10px;
	-webkit-border-radius:10px;
	-moz-border-radius:10px;
	border-radius:10px;
}
.bradius5{
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	border-radius:5px;
}
.dropshd{
	-o-box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.5);
	-webkit-box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.5);
	box-shadow:0 3px 20px 0 rgba(0, 0, 0, 0.5);
}
.dropshd10{
	-o-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
	-webkit-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
	-moz-box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
	box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.loading{
	background-image:url(img/ajax-loader_003.gif);
	background-position: center center;
	background-repeat:no-repeat;
}
.none, .hide  {display:none} .block {display:block !important;} .inline {display:inline !important;} .inlineb {display:inline-block !important;}

/*------------etc-------------*/

#slider{
	/*height:30px;*/
	position: relative;
	/*overflow:hidden;*/
	/*padding:20px 0 20px 20px;*/
	/*border-right:20px solid transparent;*/
	/*background-color:#fff;*/
	background-origin:border-box;
	-o-transition: height 0.6s cubic-bezier(0, 0, 0.1, 1.0), background-color 0.6s cubic-bezier(0, 0, 0.1, 1.0);
	-webkit-transition: height 0.6s cubic-bezier(0, 0, 0.1, 1.0), background-color 0.6s cubic-bezier(0, 0, 0.1, 1.0);
	-moz-transition: height 0.6s cubic-bezier(0, 0, 0.1, 1.0), background-color 0.6s cubic-bezier(0, 0, 0.1, 1.0);
	transition: height 0.6s cubic-bezier(0, 0, 0.1, 1.0), background-color 0.6s cubic-bezier(0, 0, 0.1, 1.0);
	z-index:15;
}
#slider .item{
	/*width:150px;*/
	/*height:100px;*/
	/*background:#B2B2B2;*/
	/*margin-right:10px;*/
	position:relative;
	/*overflow:hidden;*/
	/*float:none;*/
	display: inline-block;
	vertical-align: top;
	font-size:0.9em;
	text-align:left;
}

#slider .item a{
	/*width: 130px;*/
	/*height:45px;*/
	padding:10px;
	display:block;
	position:relative;
	-o-border-radius:3px; -webkit-border-radius:3px; -moz-border-radius:3px; border-radius:3px;
}
#slider .item a:hover{
	background:#9F9F9F;
	background:rgba(0, 0, 0, 0.1);
}
#slider .item a:focus {
	outline: 0;
	background:#9F9F9F;
	background:rgba(0, 0, 0, 0.1);
}

#slider .item img{
	width:120px;
	height:90px;
	display:block;
	margin:0 auto;
	/*top:50%;*/
	/*left:50%;*/
	/*margin:-45px 0 0 -60px;*/
	background: #6E6E6E url(img/playbg.png) no-repeat center center;
	background: rgba(0,0,0,0.6) url(img/playbg.png) no-repeat center center;
	border: none;
	outline: none;
}

#slider .item a.paused img{ background:none; }
#slider .item a.playing img{ background:none; }

#slider .item a > span{
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	opacity:0;
	cursor:hand; cursor:pointer;
}
#slider .item a > span:hover{ opacity:0.6; }

#slider .item a.paused > span{ opacity:0.6; }
#slider .item a.playing > span{ opacity:0.6; }

#slider .item a > span span{
	display:block;
	margin:10px 0 0 15px;
	width:120px;
	height:90px;
	background:#000 url(img/playbg.png) no-repeat center center;
	cursor:hand; cursor:pointer;
}

#slider .item a.playing > span span{ background:#000 url(img/pausebg.png) no-repeat center center; }

.morevideos{
	display:none;
	position:relative;
	z-index:17;
	padding: 1px 5px 5px;
}

.animall{
	-o-transition: all 0.4s cubic-bezier(0, 0, 0.1, 1.0);
   -webkit-transition: all 0.4s cubic-bezier(0, 0, 0.1, 1.0);
   -moz-transition: all 0.4s cubic-bezier(0, 0, 0.1, 1.0);
   transition: all 0.4s cubic-bezier(0, 0, 0.1, 1.0);
}

#wrap .err, #slider noscript{
	display: block;
	position: relative;
	text-align:center;
	color:#660000;
	margin:0 auto;
	background:#FFCCCC;
	width:300px;
}
noscript p{margin:0;padding:0;}

/*------------flowslider-------------*/
#wrap{ background-color:#eee; /*width:835px;*/ margin:0 auto; }
/*#slider .www_FlowSlider_com-wrap-1{ display:none; }*/
.slider-horizontal {/*width:750px;*/ margin:0 auto; height:240px;list-style:none;}
.slider-horizontal .item {height:200px; width:150px; margin:20px 10px 0;}

.slider-vertical {width:364px; margin:25px 0; float:left; background:#eee; height:300px;list-style:none;}
.slider-vertical .item {height:80px; width:324px; margin:10px 0 10px 20px;}

.item:nth-child(odd){background:#B2B2B2;}
.item:nth-child(even){background:#D8D8D8;}

.btn-left, .btn-right {cursor:pointer; width:30px; height:40px; margin:100px 0 0 0; background:#ddd; float:left; text-align:center; line-height:40px; text-transform:uppercase; font-weight:bold; position:relative;z-index:17;}
.btn-right {float:right;z-index:17;}
.slider-horizontal .item {width:150px; margin-left:0; margin-right:0;}
