@font-face {font-family: 'PT Sans';
	src: url('/font/PTS55F_W.eot');
	src: local('PT Sans'), url('/css/PTS55F_W.woff') format('woff'),url('/font/PTS55F_W.ttf') format('truetype'), url('/font/PTS55F_W.svg#PTSans-Regular') format('svg');}
	font:12px "PT Sans", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;

