
.slider-horizontal {width:750px; margin:25px auto; background:#eee; height:240px;list-style:none;}
.slider-horizontal .item {height:200px; width:150px; margin:20px 10px 0;}

.slider-vertical {width:364px; margin:25px 0; float:left; background:#eee; height:300px;list-style:none;}
.slider-vertical .item {height:80px; width:324px; margin:10px 0 10px 20px;}

.item:nth-child(odd){background:#B2B2B2;}
.item:nth-child(even){background:#D8D8D8;}

.wrap {width:750px; margin:50px auto;}
.ad {padding:20px; border:1px solid #ddd; background:#f4f4f4;}
.ad-2 {width:230px; float:right; border:1px solid #ddd; background:#f4f4f4; margin:10px 0 20px 0; padding:10px;}
.ad-3 {float:left; width:336px; margin:25px 0 0 25px;}
