@charset "utf-8";
/* 52framework General StyleSheet - contains styles for all the HTML elements this framework supports */

@font-face {
  font-family: 'PT Sans';
  src: url('../font/PTS55F_W.eot');
  src: local('PT Sans'), url('../font/PTS55F_W.woff') format('woff'), url('../font/PTS55F_W.ttf') format('truetype'), url('../font/PTS55F_W.svg#PTSans-Regular') format('svg');
}

html{width:100%;}

body {
  background:#fff;
  color:#000;
  font:16px "PT Sans", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, sans-serif;
  position:relative;
}

button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="file"] > input[type="button"]::-moz-focus-inner {
   border: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button,
input::-o-inner-spin-button,
input::-o-outer-spin-button{
	 /* display: none; <- Crashes Chrome on hover */
	 -webkit-appearance: none;
	 margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input::-webkit-input-placeholder, isindex::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
	color:#525252;
	text-align:center;
}
input:-moz-placeholder{
	color:#525252;
	text-align:center;
}

/* ** ** Common Addative Classes ** ** */
.left, .float_left  {float:left}
.right, .float_right {float:right}
.clear {clear:both; display:block; overflow:hidden; visibility:hidden; height:0;}
.clear-left, .clear_left {clear:left;} .clear-right, .clear_right {clear:right;}
.none, .hide  {display:none} .block {display:block !important;} .inline {display:inline !important;} .inlineb {display:inline-block !important;}

.align_right    { text-align:right;	  }
.align_left     { text-align:left;	  }
.align_center   { text-align:center;  }
.align_justify  { text-align:justify; }

.bold {font-weight:600;}
.italic {font-style:italic;}

a {color:#DAC694;cursor:hand;cursor:pointer;}
a:hover {color:#FF8800;}
a:active{color:#009EFF}
a:visited {color:#C126FF}

blockquote {
  font-family: Georgia,"Times New Roman", Times, serif; 
  margin:5px; 
  padding:10px;
  font-size:1.52em; 
  color:#999; 
  font-style:italic; 
  line-height:1.3em; 
  width:100%; 
  quotes:none;
}
blockquote.left {border-right:1px dashed #ccc; width:35%;} /* float blockquote left, and set width */
blockquote.right {border-left:1px dashed #ccc; width:35%;} /* float blockquote right and set a width */

/* ** ** Header Styles ** ** */
h1, h2, h3, h4, h5 {margin:0 0 0.5em; line-height:1.1em;}
h1 {font-size:2.52em;} 
h2 {font-size:1.952em;} 
h3 {font-size:1.652em;} 
h4 {font-size:1.452em;} 
h5 {font-size:1.252em;} 
h6 {font-size:1.52em;}

/* ** ** ul li's ** ** */
ul{
  list-style:outside disc;
}
ul,ol{
  margin:0 0 1.5em 1.5em;
  padding:0;
}
li ul,li ol{
  padding:0;
  margin:0 0 1.5em 1.5em;
}

/* ** ** custom select color ** ** */
::selection {
  background: #0094FF; /* Safari */
  color:#fff;
}
::-moz-selection {
  background: #0094FF; /* Firefox */
  color:#fff;
}
/* ** ** paragraph styling ** ** */
p {margin:0 0 1.52em;}
p img.left {float:left;margin:1.52em 1.52em 1.52em 0;padding:0;}
p img.right {float:right;margin:1.52em 0 1.52em 1.52em;}

strong{ font-weight:600;}
em, dfn{	font-style:italic;}
dfn{ font-weight:600;}
sup, sub{ line-height:0;}
abbr, acronym{	border-bottom:1px dashed #ccc;}
address{	margin:0 0 1.5em;font-style:italic;}
del{ color:#667;}
pre, code, tt{ font:1em 'andale mono', 'lucida console', monospace;line-height:1.5; display:block;}
code{	background-color:#eee; display:inline; padding:0 2px 1px 2px; line-height:1.1em;}
pre{	margin:1.5em 0;white-space:pre;}