.inlineb, .half, #mediagallery li {display:inline !important;}
#mediagallery{overflow:visible;}
#mediagallery .ie7{
	position:absolute;
	right:-15px;
	top:0;
	width:15px;
	height:140px;
	background-color:#6D4638;
	z-index:16px !important;
	border-radius: 0 10px 10px 0;
}
.headmenu{
	margin:5px 0 0 -17px;
}
.headmenu li{
	padding-bottom:0;
}
.dline {
	border-bottom:none;
	border-top:1px dashed #6D4638;
}
.line {
	border-bottom:none;
	border-top:1px solid #6D4638;
}