.inlineb, .half, #mediagallery li {display:inline !important;}
#mediagallery{overflow:visible;}
#mediagallery .ie7{
	position:absolute;
	right:-20px;
	top:0;
	width:20px;
	height:140px;
	background-color:#fff;
	z-index:16px !important;
	border-radius: 0 10px 10px 0;
}
.headmenu{
	margin:5px 0 0 -17px;
}
.headmenu li{
	padding-bottom:0;
}
.line {
	border-bottom:none;
	border-top:1px dotted #5EA7E3;
}
.dline {
	border-bottom:none;
	border-top:1px dashed #5EA7E3;
}