.player {
width:380px;
position:relative;
margin:0 auto;
}
#modal{
	position:fixed;
	width:100%;
	height:100%;
	z-index:10;
	background: url(../img/hbgblack0.5.png);
	background: rgba(0,0,0,0.65);
	cursor:hand;
	cursor:pointer;
}
#video {
opacity:0;
visibility:collapse;
position:fixed;
top:50%;
left:-1000em;
margin:-240px 0 0 -360px;
width:720px;
height:480px;
padding:1px;
	background: url(../img/hbgblack0.5.png);
	background: rgba(0,0,0,0.65);
border:1px solid #fff;
z-index: 20;
}

#video .stop {
display:block;
position:absolute;
top:-15px;
right:-15px;
width:30px;
height:30px;
text-indent:-9999px;
outline:none;
background:url(../img/fancy_closebox.png) no-repeat;
z-index: 25;
}

/*#mediagallery li .controls {
position:absolute;
top:50%;
left:50%;
margin:-17px 0 0 -20px;
background:url(../gfx/opac.png) repeat;
	background: rgba(0,0,0,0.5);
-o-border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
border-radius:4px;
}

.controls a {
display:block;
text-indent:-9999px;
outline:none;
width:40px;
height:35px;
}

.controls .play {
background:url(../gfx/play.png) no-repeat center;
}

.controls .pause {
background:url(../gfx/pause.png) no-repeat center;
}*/